.categories {
    margin: 15px 0px 10px;
}

.categories-carrossel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.arrow-left, .arrow-right {
    display: none;
}

.categories-list {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: auto;
}

.categories-list::-webkit-scrollbar {
    display: none;
}

.category {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category:first-child {
    padding-left: 20px;
}

.category:last-child {
    padding-right: 20px;
}

.category-img {
    width: 75px;
    height: 75px;
}

.category-title {
    text-align: center;
    font-size: 0.875rem;
    min-width: 11ch;
}