.categories {
    margin: 15px 0 10px 20px;
}

.categories-carrossel {
    display: flex;
}

.arrow-left, .arrow-right {
    display: none;
}

.categories-list {
    display: flex;
    align-items: center;
    gap: 10px;

    overflow: hidden;
}

.category {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.category-title {
    text-align: center;
    min-width: 10ch;
}