.categories {
    margin: 15px 0 20px;
}

.categories .sections-title { 
    padding-left: 20px;
}

.categories-carrossel {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 20px;
}

.arrow-left, .arrow-right {
    display: none;
}

.categories-list {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow-x: hidden;
    scroll-snap-type: x;
    cursor: grab;
    scroll-behavior: smooth;
    scrollbar-width: none;
    user-select: none;
}

.category {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    scroll-snap-align: start;
}

.category-img {
    width: 75px;
    height: 75px;
}

.category-title {
    text-align: center;
    min-width: 10ch;
}