.events {
    margin: 15px 0 15px;
}

.weekend-events, .college-events {
    margin: 10px 0 10px;
}

.events-list {
    display: flex;
    gap: 10px;
    overflow: auto;
}

.events-list::-webkit-scrollbar {
    display: none;
}

.event {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event:first-child {
    padding-left: 20px;
}

.event:last-child {
    padding-right: 20px;
}

.event-img {
    width: 170px;
    height: 90px;
}

.event-date {
    font-size: .75rem;
    font-weight: bold;
    color: var(--primary-color);
}

.event-title {
    font-size: 1.125rem;
    font-weight: 600;
}

.event-local {
    font-size: 0.75rem;
    font-weight: 400;
}