.footer-container {
    background-color: var(--second-color);
    margin: 30px 0 0;
    padding: 25px 20px 42px;
    color: var(--white-color);
}

.footer-title {
    font-size: 1.125rem;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--white-color);
}

.footer-links {
    margin: 25px 0 118px;

    display: flex;
    flex-wrap: wrap;
    gap: 58px;
}

.footer-links-find-events, .footer-links-categories, .footer-links-social-media {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.footer-links-find-events {
    flex: 0 1 auto;
}

.footer-links-find-events a, .footer-links-categories a, .footer-links-social-media a {
    font-size: 0.75rem;
    color: var(--white-color);
    font-weight: 400;
}

.footer-links-categories {
    flex: 0 1 auto;
}

.footer-links-social-media {
    flex: 2 1 200px;
}

.footer-links-find-events h4:first-child, .footer-links-categories h4:first-child, .footer-links-social-media h4:first-child  {
    margin-bottom: 32px;
}

.footer-copy-text {
    padding-top: 14px;
    border-top: 1px solid var(--white-color);
    font-size: 0.7rem;
}

@media (min-width: 640px) {
    .footer-container {
        padding: 50px 20px 0;
    }

    .footer {
        max-width: 1340px;
        margin: 0 auto;
    }
    
    .footer-title {
        font-size: 2rem;
        padding-bottom: 50px;
    }
    
    .footer-links {
        margin: 50px 0 227px;
    
        gap: 60px;
    }
    
    .footer-links-find-events, .footer-links-categories, .footer-links-social-media {
        gap: 10px;
    }
    
    .footer-links-find-events {
        flex: 0 1 auto;
    }
    
    .footer-links-find-events a, .footer-links-categories a, .footer-links-social-media a {
        font-size: 1rem;
        font-weight: 400;
    }
    
    .footer-links-categories {
        flex: 0 1 auto;
    }
    
    .footer-links-social-media {
        flex: 2 1 200px;
    }
    
    .footer-links-find-events h4:first-child, .footer-links-categories h4:first-child, .footer-links-social-media h4:first-child  {
        margin-bottom: 25px;
    }
    
    .footer-copy-text {
        padding: 28px 0 93px;
        font-size: 1rem;
    }
}