.header {
    background-color: var(--black-color);
    padding: 15px 20px;
}

.header-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.header-title {
    font-family: Kanit;
    color: var(--primary-color);

    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;

    flex-shrink: 0;
}

.header-nav {
    flex: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-create_event {
    background-color: var(--botton-color);
    border-radius: 5px;
    padding: 15px 10px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: bold;
    font-size: 1rem;
    border: none;

    flex-shrink: 0;
}

.header-menu {
    flex-shrink: 0;
}

.header-search {
    border: none;
    border-radius: 5px;
    background-color: var(--white-color);
    height: 32px;
    padding: 20px 15px;
    margin-top: 15px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.header-search input {
    height: 32px;
    width: 90%;
    border: none;
    outline: none;
    font-size: 1rem;
}