.highlights {
    margin: 15px 0 15px;
}

.highlights-carrossel {
    height: 180px;
    width: 100%;
}

.highlights-list {
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: auto;
}

.highlights-list::-webkit-scrollbar {
    display: none;
}

.highlight:first-child {
    padding-left: 20px;
}

.highlight:last-child {
    padding-right: 20px;
}

.highlight-img {
    width: 350px;
    height: 180px;
    object-fit: cover;
}

.highlight-info {
    display: none;
}