.highlights {
    margin: 15px 0px 15px 0px;
}

.highlights .sections-title {
    margin: 15px 20px;
}

.highlights-list {
    display: flex;
    gap: 10px;
    overflow-x: auto;

    padding-left: 20px;
}

.highlights-list::-webkit-scrollbar {
    display: none;
  }

.highlight {
    display: inline-block;
}