body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(japao.jpeg); ;
}

.navbar {
    background-color:rgba(0, 0, 0, 0.938);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 15px 20px;
}

.navbar a {
    font-size: 16px;
    color: rgb(255, 255, 255);
    background:  rgb(134, 13, 150);
    text-align: right;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);

}

.search-bar {
    text-align: center;
    margin-top: 50px;
}

.logo {
    font-size: 24px;
    color: #edeeed;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar button{
  


}

/** Aqui vamos começar a mexer no cards, organizar o ajuste do card + carrosel **/


.row{
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(178, 18, 226, 0.22);
    padding: 50px;
    margin: 20px;
    width: 300px;
    transition: all 0.3s ease-out;
    background-color: #c1b2da;
  }

  .card:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
  .card p {
   width:20rem;
   text-align: left;
   padding: 0.5rem;   
}
   
  .image {
    float: right;
    max-width: 120px;
    max-height: 120px;
    border: #050000;
  }

  .purple {
    border-left: 3px solid #844ddb;
  }
   
